<ion-view view-title="Services">
  <ion-content>
    <ion-list>
      <ion-toggle ng-repeat="item in settingsList"
                  ng-model="item.checked"
                  ng-checked="item.checked"
                  ng-change="toggleIt(item)"
      >
        <i ng-class="[item.className]"></i>
        {{ item.text }}
        <span ng-repeat="(key, value) in item.service.status">
           <strong>{{key}}:</strong> {{value}}
        </span>
      </ion-toggle>
    </ion-list>
  </ion-content>
</ion-view>
