<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.socketme959880" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>SocketMe</name>
  <description>
    </description>
  <author email="rob.halff@gmail.com" href="http://robberthalff.com/">
    Rob Halff
  </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="android-minSdkVersion" value="16"/>
  <preference name="android-targetSdkVersion" value="18"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" onload="true" value="CDVStatusBar"/>
  </feature>
  <plugin name="cordova-plugin-battery-status" spec="~1.1.1"/>
  <plugin name="cordova-plugin-device-motion" spec="~1.2.0"/>
  <plugin name="cordova-plugin-device-orientation" spec="~1.0.2"/>
  <plugin name="cordova-plugin-device" spec="~1.1.1"/>
  <plugin name="cordova-plugin-geolocation" spec="~2.1.0"/>
  <plugin name="cordova-plugin-network-information" spec="~1.2.0"/>
  <plugin name="org.apache.cordova.signal-strength" spec="~1.0.0"/>
  <plugin name="nl.nielsad.cordova.wifiscanner" spec="https://github.com/nielsAD/cordova-wifiscanner.git"/>
</widget>