.connected {
  color: green;
  font-weight: bold;
}

.disconnected {
  color: red;
  font-weight: bold;
}

.error, .reconnect_error, .reconnect_failed {
  color: red;
  font-weight: bold;
}

.reconnect, .reconnect_attempt, reconnecting {
  color: yellow;
  font-weight: bold;
}

.item {
  .range {
    input {
      @linear-gradient(to right, #191B1A 0%, #448C64 100%);
    }
  }
}

